<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened
        fixedInViweport="true" >
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <i class="material-icons">
                    home
                </i>
                INICIO
            </a>
            <a>
                <i class="material-icons">
                    storefront
                </i>
                PRODUTOS
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>