.sidenav {
    background-color: #e40d30;
    width: 200px;    
}

.sidenav a {
    color: #181616;
}

.sidenav > i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}